/* CSS declarations go here */
h1, section.scotches {margin-left: 20px;}
section.scotches article {list-style: none; clear: both; font-weight: normal;}
section.scotches article h3 {width: 200px; font-size: 100%; float: left; margin: 0; font-weight: normal;}
section.scotches article h4 {width: 50px; font-size: 100%; float: left; text-align: center;}
section.scotches header article h3, section.scotches header article h4 {font-weight: bold;}
section.scotches article span {float: left;}
section.scotches article span input[type="checkbox"] {width: 50px; float: left; padding-top: 7px; text-align: center;}
